<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body style="background-color:indigo">
<h2 style="color:green	;font-family:arial;font-size:30px;text-align: center;">Login</h2>
<div style="color:tomato	;font-family:Monospace;font-size:24px;text-align: center;">
    <form method="post" action="">
        <label>Username
            <input type="text" name="username"><br>
        </label>
        <label>Password
            <input type="password" name="password"><br>
        </label>
        <input type="submit"><br>

    </form>
</div>

</body>
</html>